<main class="row">
  <section id="epArea1" class="col-10 offset-1 my-3 p-2 text-center">
    <h1>Edit Profile</h1>
  </section>

  <!-- Nav -->
  <a
    class="btn btn-success btn-lg col-4 offset-4"
    role="button"
    (click)="goBands()"
    >Back To Bands</a
  >

  <section id="epArea2" class="col-10 offset-1 my-3 p-2 text-center">
    <form class="col-6 offset-3 py-5" name="editform" id="editform">
      <!-- Username Field -->
      <div class="form-group">
        <label for="editusername" id="editusernamelabel">Username: </label>
        <input
          type="text"
          class="form-control"
          id="editusername"
          name="editusername"
          placeholder="Enter username"
          [(ngModel)]="username"
          readonly
        />
        <div id="usernameError" class="errorMsg mt-2"></div>
      </div>
      <!-- New Email Field -->
      <div class="form-group">
        <label for="editedemail" id="editedemaillabel">Email: </label>
        <input
          type="text"
          class="form-control"
          id="editedemail"
          name="editedemail"
          placeholder="Enter new email"
          [(ngModel)]="email"
        />
        <div id="emailEditError" class="errorMsg mt-2"></div>
      </div>

      <!-- Submit button -->
      <button
        type="submit"
        class="btn btn-primary"
        id="editSubmit"
        (click)="onSave()"
      >
        Submit
      </button>
    </form>
  </section>
</main>
