<main class="row">
  <section id="epArea1" class="col-10 offset-1 my-3 p-2 text-center">
    <h1>Edit Profile</h1>
  </section>

  <a class="btn btn-success btn-lg col-4 offset-4" href="/bands" role="button"
    >Back To Bands</a
  >

  <section id="epArea2" class="col-10 offset-1 my-3 p-2 text-center">
    <form class="col-6 offset-3 py-5" name="loginform" id="loginform">
      <div class="form-group">
        <label for="bandusername" id="bandusernamelabel">Username: </label>
        <input
          type="text"
          class="form-control"
          id="bandusername"
          name="username"
          placeholder="Enter username"
        />
        <div id="usernameError" class="errorMsg mt-2"></div>
      </div>
      <div class="form-group">
        <label for="banduserpassword" id="banduserpasswordlabel"
          >Password:
        </label>
        <input
          type="password"
          class="form-control"
          id="banduserpassword"
          name="password"
          placeholder="Password"
        />
        <div id="passwordError" class="errorMsg mt-2"></div>
      </div>

      <button type="submit" class="btn btn-primary" id="loginSubmit">
        Submit
      </button>
      <div id="loginError" class="errorMsg mt-2"></div>
    </form>
  </section>
</main>
