<main class="row">
  <!-- Heading -->
  <section id="divisionArea1" class="col-10 offset-1 my-3 p-2 text-center">
    <h1>Our Divisions</h1>
  </section>
  <!-- Nav -->
  <a
    class="btn btn-danger btn-lg col-4 offset-4 mb-3"
    id="abtn"
    role="button"
    (click)="goAdmin()"
    *ngIf="getAdmin()"
    >Admin</a
  >
  <a
    class="btn btn-warning btn-lg col-4 offset-4 mb-3"
    role="button"
    (click)="goEdit()"
    >Edit Profile</a
  >
  <a
    class="btn btn-success btn-lg col-4 offset-4"
    href=""
    role="button"
    (click)="onLogout()"
    >Logout</a
  >

  <!-- Content Area with division select dropdown -->
  <section id="divisionArea2" class="col-8 offset-2 my-3 p-2 text-center">
    <div class="form-group col-8 offset-2">
      <h1><label for="divisionSel">Select a Division</label></h1>
      <select class="form-control" id="divisionSel">
        <option *ngFor="let league of leagues" value="{{ league.ID }}">{{
          league.NAME
        }}</option>
      </select>
    </div>
  </section>

  <!-- Second Content Area, populates cards -->
  <section id="divisionArea3" class="col-8 offset-2 my-3 p-2 text-center">
    <h1 class="py-2" id="cardHeading">Bands</h1>
    <div class="card my-2" *ngFor="let band of bands">
      <div class="card-body">
        <h4 class="card-title py-2">{{ band.TEAMNAME }}</h4>
        <h5 class="card-subtitle">{{ band.MANAGERNAME }}</h5>
        <p class="card=text">{{ band.MANAGERPHONE }}</p>
      </div>
    </div>
  </section>
</main>
