<main class="row">
  <section id="contentArea1" class="col-10 offset-1 my-3 p-2 text-center">
    <h1>Welcome To Shredfest</h1>
  </section>

  <!-- Nav -->
  <a
    class="btn btn-primary btn-lg col-4 offset-4"
    href="/register"
    role="button"
    >Register</a
  >
  <a class="btn btn-info btn-lg col-4 offset-4 mt-3" href="/login" role="button"
    >Login</a
  >

  <!-- Content Area -->
  <section id="contentArea2" class="col-10 offset-1 my-3 p-2 text-center">
    <h1>About Shredfest</h1>
    <p>
      Shredfest is New England's brand new regional Battle Of The Bands event,
      based out of Hartford, CT. We welcome all band archetypes with members
      from all walks of life. We hope you join us, be it as a competitor or just
      to take in some of the region's best up-and-coming acts!
    </p>
    <img
      src="assets/images/indexsecstage.jpg"
      alt="Stage"
      class="py-2 img-fluid"
    />
  </section>
</main>
