<main class="row">
  <!-- Heading -->
  <section id="loginArea1" class="col-10 offset-1 my-3 p-2 text-center">
    <h1>Login</h1>
  </section>
  <!-- Nav -->
  <a class="btn btn-success btn-lg col-4 offset-4" href="" role="button"
    >Back To Home</a
  >
  <!-- Register button -->
  <a
    class="btn btn-primary btn-lg col-4 offset-4 mt-3"
    href="/register"
    role="button"
    >Register</a
  >
  <section id="loginArea2" class="col-10 offset-1 my-3 p-2 text-center">
    <form class="col-6 offset-3 py-5" name="loginform" id="loginform">
      <!-- Username Field -->
      <div class="form-group">
        <label for="bandusername" id="bandusernamelabel">Username: </label>
        <input
          type="text"
          class="form-control"
          id="bandusername"
          name="username"
          [(ngModel)]="username"
          placeholder="Enter username"
        />
        <div id="usernameError" class="errorMsg mt-2">{{ usernameError }}</div>
      </div>
      <!-- Password Field -->
      <div class="form-group">
        <label for="banduserpassword" id="banduserpasswordlabel"
          >Password:
        </label>
        <input
          type="password"
          class="form-control"
          id="banduserpassword"
          name="password"
          [(ngModel)]="password"
          placeholder="Password"
        />
        <div id="passwordError" class="errorMsg mt-2">{{ passwordError }}</div>
      </div>

      <!-- Submit button -->
      <button
        type="submit"
        class="btn btn-primary"
        id="loginSubmit"
        (click)="onSubmit()"
      >
        Submit
      </button>
      <!-- Reset button -->
      <button
        type="reset"
        class="btn btn-secondary"
        id="resetBtn"
        (click)="onReset()"
      >
        Reset
      </button>
      <!-- Error message -->
      <div id="loginError" class="errorMsg mt-2" *ngIf="error">
        {{ loginError }}
      </div>
    </form>
  </section>
</main>
